<a href="https://colab.research.google.com/github/sydney-machine-learning/sentimentanalysis-USelections/blob/main/20MilDataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np 
import pandas as pd 
import tensorflow as tf
import matplotlib.pyplot as plt
import plotly.graph_objects as go
import io
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from textblob import TextBlob
from nltk.util import ngrams
from nltk.classify import NaiveBayesClassifier
from nltk.corpus import subjectivity
from nltk.sentiment import SentimentAnalyzer
from nltk.sentiment.util import *
from nltk.sentiment.vader import SentimentIntensityAnalyzer

/usr/local/lib/python3.6/dist-packages/nltk/twitter/__init__.py:20: UserWarning:

The twython library has not been installed. Some functionality from the twitter package will not be available.

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
dataset = pd.read_csv("/content/drive/MyDrive/US_elections/uselection_tweets_1jul_11nov.csv", lineterminator='\n')

In [4]:
dataset.head()

  Created-At;"From-User-Id";"To-User-Id";"Language";"Retweet-Count";"PartyName";"Id";"Score";"Scoring String";"Negativity";"Positivity";"Uncovered Tokens";"Total Tokens"\r
0  7/1/20 7:44 PM;"1223446325758394369";"38788259...
1  7/1/20 7:44 PM;"1001407960252342273";"-1";"en"...
2  7/1/20 7:44 PM;"1178522693840392195";"-1";"en"...
3  7/1/20 7:44 PM;"64267482";"65497475";"en";0.0;...
4  7/1/20 7:44 PM;"1068507190103699456";"-1";"en"...

In [5]:
dataset.tail()

         Created-At;"From-User-Id";"To-User-Id";"Language";"Retweet-Count";"PartyName";"Id";"Score";"Scoring String";"Negativity";"Positivity";"Uncovered Tokens";"Total Tokens"\r
24201649  11/12/20 5:47 PM;"386513005";"-1";"en";464.0;"...
24201650  11/12/20 5:47 PM;"3421791370";"195725305";"en"...
24201651  11/12/20 5:47 PM;"1166761314";"-1";"en";23097....
24201652  11/12/20 5:47 PM;"930244920";"25073877";"en";0...
24201653  11/12/20 5:47 PM;"522420024";"1166069567468310...